/*Reset document*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body {
	line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

/* change colours to suit your needs */
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

/* change colours to suit your needs */
mark {
	background-color:#ff9;
	color:#000; 
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/* change border colour to suit your needs */
hr {
	display:block;
	height:1px;
	border:0;   
	border-top:1px solid #cccccc;
	margin:0 auto;
	padding:0;
	width: 50%;
	vertical-align: center;
}

input, select {
	vertical-align:middle;
}

div {
	margin: 10px;
	padding :10px;
}


/*Style document*/

.mainTitle {
	font-family: 'EB Garamond', serif;
	font-size: 5em;
}
h1 {
	font-family: 'EB Garamond', serif;
	font-size: 3em;
}

p, li, auto {
	font-family: 'Ubuntu', sans-serif;
}

.topbar {
	width: 100%;
	height: 10%;

	margin: 0 auto;
	padding :1%;
	text-align: center;


}

.wrapper {

	margin-left:10%;
	margin-right:10%;



}

.contentLeft {
	float: left;
	width: 65%;
	display: inline;
	padding: 15px;

}

.sideBar {
	float: right;
	width: 25%;
	display: inline;
	padding: 15px;
	border: solid black 1px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	padding-right: 20px;
	padding-left: 20px;
}
p {
	padding: 15px;
}

span {
	margin: 30px;
}

form {
	padding: 15px;
}

textarea {
	font-family: 'Ubuntu', sans-serif;
}

label {
	font-family: 'Ubuntu', sans-serif;
}

a {
	text-decoration: none;
	color: black;

}

a:hover {
	color : tomato;
}

input[type=text], select {
	width: 3	0%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 10%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.chips {
	background-color: grey;
	margin: 15px;
	padding: 10px;
	display: inline-block;
	padding: 0 25px;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	border-radius: 25px;
	background-color: #f1f1f1;
	font-family: 'Ubuntu', sans-serif;
}

.alignInput {
	display: inline;
}

.imageFlex {
	
	padding: 10px;
	border-radius: 4px;

}

.thumBnail {
	
	display: flex;
	align-items:center;
}


.card {
	width: 100%;
	display: flex;
	align-items:center;
}

.rounded {
	border-radius: 50%;
	width: 70%;
}

.pictureCard {
	display: inline;
	width: 50%;
}
.contentCard {
	display: inline;
	width : 50%;
}

.footer {
	padding-top: 30px;
	padding-bottom: 30px;
}

.header {
  background: white;
  color: black;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myBtn {
  
 width: 40%;
margin-left: 30%;
margin-right: 30%
}

.button {
  display: block;
  width: 340px;
  height: 80px;
  cursor: pointer;
  transition: box-shadow 0.1s linear;
}
.button:hover {
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
}
	

.mySlides {
  display:none;
  width: 50%;
}

/* Style The Dropdown Button */


/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: tomato}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: tomato;
}
@media screen and (max-width: 992px) {
	.contentLeft {
		float: left;
		width: 100%;
		display: block;

	}
	.sideBar {
		float: right;
		width: 100%;
		display: block;
	}

	.thumBnail {
		display: block;
	}
}
/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
	.contentLeft {
		float: left;
		width: 100%;
	}
	.sideBar {
		float: right;
		width: 100%;
		display: block;
	}

	.thumBnail {
		display: block;
	}
}

